
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="http://www.codeproject.com/Scripts/jtable/themes/metro/blue/jtable.css"
      rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://www.codeproject.com/Scripts/jtable/jquery.jtable.js">
</script>

